@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.green-bg {
  background-color: #3c7c67;
}

.green-text {
  color: #3c7c67;
}

.home-page {
  background-image: url(https://images.delfi.lv/media-api-image-cropper/v1/a603cd5f-31b1-4891-9c26-9602df80776b.jpg?w=1200&h=628);
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 20px;
  position: relative;
}

.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.7));
}